@model List<EntityLayer.Concrete.SocialMedia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sosyal Medya Hesapları</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sosyal Mecra</th>
                            <th>URL</th>
                            <th>Durum</th>
                            <th>Ikon</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.SocialMediaID</th>
                                <td>@item.Name</td>
                                <td>@item.Url</td>
                                <td>@item.Status</td>

                                <td><img src="@item.Icon" /></td>

                                <td><a href="/SocialMedia/Delete/@item.SocialMediaID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/SocialMedia/Edit/@item.SocialMediaID" class="btn btn-outline-primary">Düzenle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/SocialMedia/Insert/" class="btn btn-outline-success">Yeni Hesap</a>
            </div>
        </div>
    </div>
</div>




